<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CFVG_Card_Creator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <CFVG_Card_Creator.Properties.Settings>
            <setting name="cardArtPath" serializeAs="String">
                <value />
            </setting>
            <setting name="imagePath" serializeAs="String">
                <value />
            </setting>
            <setting name="dataPath" serializeAs="String">
                <value />
            </setting>
            <setting name="invertRespace" serializeAs="String">
                <value>False</value>
            </setting>
        </CFVG_Card_Creator.Properties.Settings>
    </userSettings>
</configuration>
